body {
    background-color: #000000;
    padding: 0;
    margin: 0;
}

.hero-bg {
    background-position: center;
    height: 341px;
    width: 100vw;
    /* write media query here */
    position: relative;
    overflow: hidden;
}

.hero-bg img {
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;

}

.navbar .btn {
    color: #ffff;
    border-radius: 30px;
    border: 1px solid #FFBE0D;
    margin-right: 100px;
}

.navbar {
    margin-top: 32px;
    color: #ffff;
    width: 100vw;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    /* Fully transparent background */
}

.nav-item {
    padding-left: 34px;
}

.hero-content {
    height: 413px;
    width: 100vw;
    margin-top: -50px;
    background-color: black;
    margin-bottom: 136px;
    position: relative;
    /* top: 199px; */
    display: flex;
    flex-direction: column;
    align-items: center;


}

.hero-content h1 {
    width: 960px;
    font-style: normal;
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 500;
    line-height: 78px;
    text-align: center;
    color: #ffff;

}

.hero-content-text {
    text-align: center;
    width: 960px;
    height: 234px;

}

.hero-content-button {
    display: flex;
    justify-content: center;

}

.hero-content button {
    background-color: #FFBE0D;
    width: 165px;
    height: 44px;
    border-radius: 30px;

}


.rating-paragraph {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: left;

}

.rating {
    /* width: 350px; */
    height: 35px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: left;

}

.rating-button {
    color: #A6A6A6;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 210.95px;
    border-radius: 30px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

    border: 1px solid #313131
}

.rating-container {
    padding-left: 18px;
    display: flex;
    width: 210px;
    height: 35px;
    align-items: center;
    background-color: #141414;
    color: #A6A6A6;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 1px solid #313131;
}

.rating-value {
    font-size: 14px;
    /* margin-right: 18px; */
}

.stars {
    display: flex;
    margin-right: 10px;
    margin-left: 8px;
}

.star img {
    align-items: center;
    align-self: center;
    align-content: center;
    /* Gold color for stars */
    height: 11.39px;
    width: 11.39px;
    margin-left: 3.5px;
}

.review-count {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    text-align: left;
    color: #A6A6A6;
}

.Connect-us {
    margin-top: 35px;
}

.second-section {
    height: 714px;
    width: 1440px;
    max-width: 1440px;
}

.youtube-video {
    height: 321px;
    width: 479px;
    max-width: 479px;

}

.founder-box {
    width: 739px;
    max-width: 739px;
    box-sizing: content-box;
    height: 322px;
    ;
    border-radius: 25px;
    background-color: #141414;
    border: 1px solid #313131;
    display: flex;
    padding-left: 41px;
    padding-right: 41px;



    justify-content: space-between;

}

.founder-box p {
    color: #ffff;
    /* width: 582px; */
    /* max-width: 582px;
    min-width: 582px; */
    font-weight: 400;
    line-height: 23px;
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
}


.left-leaf {
    padding-top: 119px;
    padding-bottom: 119px;
    /* padding-left: 40px; */
    margin-left: 15px;

}

.right-leaf {
    padding-top: 119px;
    padding-bottom: 119px;
    /* padding-right: 40px; */
    margin-right: 15px;

}

#founder-para {
    width: 586px;
    height: 93px;
    font-size: 16px;
    line-height: 23.2px;
    flex-grow: 1;
    flex-shrink: 1;
}


.ceo-box {
    max-width: 1200px;
    height: 368px;
    border-radius: 25px;
    background-color: #141414;
    width: 1240px;
    max-width: 1240px;
    color: #ffff;
    padding: 41px;
    border: 1px solid #313131;
    display: flex;
    justify-content: space-between;
}

.youtube-video img {
    height: 322px;
    max-width: 479px;
    border-radius: 25px;
    border: 1px solid;

}

.brands p {
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    color: #A6A6A6;
}

.brands {
    margin-top: 122px;
    height: 200px;
    background-image: url(./Assests//Gradient\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
}

.how-it-works-section {
    text-align: center;
    margin-top: 137px;
}

.how-it-works-btn {
    text-align: center;
    width: 135px;
    height: 43px;
    border-radius: 30px;
    background-color: #171802;
    border: 1px solid #363804;
    color: #FFBE0D;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 18px;
}

.how-it-works-text h1 {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 200;
    line-height: 59.94px;
    text-align: center;
    color: #ffff;

}

.how-it-works-text p {
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    /* text-align: center; */
    color: #ffff;
    width: 522px;
    height: 47px;


}

.how-it-works-text {
    min-height: 236.55px;

}

.how-it-works-cards {
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 1, 240px;
    height: 209.31px;
    max-height: 209px;
    gap: 22px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;

}

.how-it-works-cards .card {
    max-width: 398px;
    width: 398.66px;
    height: 209.31px;
    border-radius: 25px;
    border: 1px solid #313131;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.how-it-works-cards .card h3 {
    width: 211px;
    height: 27.94px;
    max-height: 27.94px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.how-it-works-cards-p {
    width: 47px;
    height: 47px;
    /* top: 25px;
left: 29px; */
    padding: 11.81px 18.96px 11.99px 18.95px;
    border-radius: 23.5px;
    border: 1px solid #363804;
    background-color: #171802;
    color: #FFBE0D;
    /* margin-top: 25px; */
    padding-bottom: 30px;

}

.how-it-works-cards-div {
    padding-top: 20px;
    padding-left: 12px;
    padding-bottom: 10px;
}

.how-it-works-cards h3 {
    margin-left: 15px;
    /* padding-left: 25px; */
}

.how-it-works-cards .text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;
    margin-left: 15px;
    color: #A6A6A6;
}

.Portfolio-intro {
    margin-left: 35px;
    width: 1240px;
    max-width: 1240px;
    height: 181px;
    justify-content: space-between;


}

.Portfolio-intro h1 {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 200;
    line-height: 59.94px;
    text-align: left;
    width: 452px;
    height: 120px;
    color: #ffff;

}

.Portfolio-intro p {
    position: absolute;
    /* left: 100px; */
    width: 356px;
    height: 70px;
    font-size: 16px;
    line-height: 23px;
    color: #ffff;
    font-weight: 400;
    margin-left: 388px;

}

.Portfolio-btn button {
    background-color: #171802;
    color: #FFBE0D;
    width: 96px;
    height: 43px;
    padding: 11px 18px 11px 18px;
    border-radius: 30px;
    border: 1px solid #363804;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
}

.portfolio-cards .col-lg-4 {
    height: 398px;
    width: 398px;
    border-radius: 25px;
    position: relative;
    margin-left: 22px;
}

.portfolio-cards .col-lg-4 img {
    height: 398px;
    width: 398px;
    border-radius: 25px;
    padding: px;
}

.portfolio-cards-text {
    width: 314px;
    height: 84px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.94px;
    text-align: left;
    position: absolute;
    bottom: 40px;
    right: 39px;
    color: #FFFFFF;


}

/* width: Hug (171px)px;
height: Hug (44px)px;
gap: 0px;
opacity: 0px; */
.Portfolio-footer {
    display: flex;
    justify-content: center;
    margin-top: 54px;
}

.Portfolio-footer .btn {
    width: 171px;
    height: 44px;
    padding: 10px 21px 10px 21px;
    border-radius: 30px;
    background-color: #FFBE0D
}

.Benefits-section-start .btn {
    width: 94px;
    height: 43px;
    padding: 11px 18px 11px 18px;
    border-radius: 30px;
    border: 1px solid #363804;
    opacity: 0px;
    background-color: #171802;
    margin-bottom: 18px;

}
.Benefits-section-start h1{
font-family: Montserrat;
font-size: 54px;
font-weight: 200;
line-height: 59.94px;
text-align: center;
color: #ffff;
width: 652px;
height: 120px;


}
.Benefits-cards-list{
margin-top: 54px;
}
.Benefits-cards-list .col-lg-4{
     /* width: 398.66px; */
     height: 341.75px; 
    


}
.Benefits-cards-list .Benefits-image{
    /* width: 398.66px;
height: 238.19px; */

}
.Benefits-cards-list .Benefits-image img{
width: 398.66px;
height: 238.19px;
border-radius: 25px;

}
.benefits-heading h3{
font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 29px;
text-align: left;
color: #FFFFFF;
margin-top: 22px;
margin-left: 10px;

}

/* //styleName: subscription.handmade.company/Montserrat/Regular 16;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 23.2px;
text-align: left; */

.benefits-para{
    /* width: Fixed (398.66px)px;
height: Hug (47px)px;
top: 295.37px; */
padding: 0px 10px 0px 10px;
margin-top: 6px;
}
.benefits-para p{
font-family: Montserrat;
font-size: 14px;
font-weight: 200;
line-height: 23.2px;
text-align: left;
color: #FFFFFF;
margin-left: 7px;

}