body {
    background-color: #000000;
    padding: 0;
    margin: 0;
}

.hero-content-p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 23.2px;
    text-align: center;
    color: #ffff;
}

.hero-bg {
    /* background-image: url(./Assests/hero-bg.png); */
    /* position: absolute; */
    /* top: -85px; */
    background-position: center;
    /* background-position: cover; */
    background-repeat: no-repeat;
    height: 341px;
    width: 100%;
    /* write media query here */
    position: relative;
    overflow: hidden;
}

.hero-bg img {
    /* background-position: center; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    /* overflow: hidden; */

}

.navbar .btn {
    color: #ffff;
    border-radius: 30px;
    border: 1px solid #FFBE0D;
    margin-right: 100px;
}

.navbar {
    margin-top: 32px;
    color: #ffff;
    width: 100vw;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    /* Fully transparent background */
}

.nav-item {
    padding-left: 34px;
}

.hero-content {
    height: 413px;
    width: 100vw;
    margin-top: -140px;
    margin-bottom: 136px;
    position: relative;
    /* top: 199px; */
    display: flex;
    flex-direction: column;
    align-items: center;


}

.hero-content h1 {
    width: 960px;
    font-style: normal;
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 500;
    line-height: 78px;
    text-align: center;
    color: #ffff;

}

.hero-content-text {
    text-align: center;
    width: 960px;
    height: 234px;

}

.hero-content-button {
    display: flex;
    justify-content: center;

}

.hero-content button {
    background-color: #FFBE0D;
    width: 165px;
    height: 44px;
    border-radius: 30px;

}


.rating-paragraph {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: left;

}

.rating {
    /* width: 350px; */
    height: 35px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: left;

}

.rating-button {
    color: #A6A6A6;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 210.95px;
    border-radius: 30px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

    border: 1px solid #313131
}

.rating-container {
    padding-left: 18px;
    display: flex;
    width: 210px;
    height: 35px;
    align-items: center;
    background-color: #141414;
    color: #A6A6A6;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 1px solid #313131;
}

.rating-value {
    font-size: 14px;
    /* margin-right: 18px; */
}

.stars {
    margin-top: -4px;
    display: flex;
    margin-right: 10px;
    margin-left: 8px;
}

.star img {
    align-items: center;
    align-self: center;
    align-content: center;
    /* Gold color for stars */
    height: 11.39px;
    width: 11.39px;
    margin-left: 3.5px;
}

.review-count {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    text-align: left;
    color: #A6A6A6;
}

.Connect-us {
    margin-top: 35px;
}

.Connect-us button {
    width: 165px;
    height: 44px;
    padding: 10px 21px 10px 21px;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 16px;


}

.second-section {
    height: 714px;
    width: 1440px;
    max-width: 1440px;
}

.youtube-video {
    height: 321px;
    width: 479px;
    max-width: 479px;

}

.founder-box {
    width: 739px;
    max-width: 739px;
    box-sizing: content-box;
    height: 322px;
    ;
    border-radius: 25px;
    background-color: #141414;
    border: 1px solid #313131;
    display: flex;
    padding-left: 41px;
    padding-right: 41px;



    justify-content: space-between;

}

.founder-box p {
    color: #ffff;
    /* width: 582px; */
    /* max-width: 582px;
    min-width: 582px; */
    font-weight: 400;
    line-height: 23px;
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
}


.left-leaf {
    padding-top: 119px;
    padding-bottom: 119px;
    /* padding-left: 40px; */
    margin-left: 15px;

}

.right-leaf {
    padding-top: 119px;
    padding-bottom: 119px;
    /* padding-right: 40px; */
    margin-right: 15px;

}

#founder-para {
    width: 586px;
    height: 93px;
    font-size: 16px;
    line-height: 23.2px;
    flex-grow: 1;
    flex-shrink: 1;
}


.ceo-box {
    max-width: 1200px;
    height: 368px;
    border-radius: 25px;
    background-color: #141414;
    width: 1240px;
    max-width: 1240px;
    color: #ffff;
    padding: 41px;
    border: 1px solid #313131;
    display: flex;
    justify-content: space-between;
}

.hori-line {
    position: absolute;
    bottom: 0px;

}

.youtube-video img {
    height: 322px;
    max-width: 479px;
    border-radius: 25px;
    border: 1px solid;

}

.brands p {
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    color: #A6A6A6;
}

.brands {
    margin-top: 122px;
    height: 181px;
    background-image: url(./Assests//Gradient\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}




.brands hr {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(166, 166, 166, 1) 50%, rgba(255, 255, 255, 0) 100%);
    height: 1px; 
    border: none; 
    margin: 0;
    position: absolute;
    bottom: 0; 
    left: 20%;
    width: 50vw;
}


.how-it-works-section {
    text-align: center;
    margin-top: 137px;
}

.how-it-works-btn {
    text-align: center;
    width: 135px;
    height: 43px;
    border-radius: 30px;
    background-color: #171802;
    border: 1px solid #363804;
    color: #FFBE0D;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 18px;
}

.how-it-works-text h1 {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 200;
    line-height: 59.94px;
    text-align: center;
    color: #ffff;

}

.how-it-works-text p {
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    /* text-align: center; */
    color: #ffff;
    width: 522px;
    height: 47px;


}

.how-it-works-text {
    min-height: 236.55px;

}

.how-it-works-cards {
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 1, 240px;
    height: 209.31px;
    max-height: 209px;
    gap: 22px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;

}

.how-it-works-cards .card {
    max-width: 398px;
    width: 398.66px;
    height: 209.31px;
    border-radius: 25px;
    border: 1px solid #313131;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.how-it-works-cards .card h3 {
    width: 211px;
    height: 27.94px;
    max-height: 27.94px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.how-it-works-cards-p {
    width: 47px;
    height: 47px;
    /* top: 25px;
left: 29px; */
    padding: 11.81px 18.96px 11.99px 18.95px;
    border-radius: 23.5px;
    border: 1px solid #363804;
    background-color: #171802;
    color: #FFBE0D;
    /* margin-top: 25px; */
    padding-bottom: 30px;

}

.how-it-works-cards-div {
    padding-top: 20px;
    padding-left: 12px;
    padding-bottom: 10px;
}

.how-it-works-cards h3 {
    margin-left: 15px;
    /* padding-left: 25px; */
}

.how-it-works-cards .text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;
    margin-left: 15px;
    color: #A6A6A6;
}

.Portfolio-intro {
    margin-left: 35px;
    width: 1240px;
    max-width: 1240px;
    height: 181px;
    justify-content: space-between;


}

.Portfolio-intro h1 {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 200;
    line-height: 59.94px;
    text-align: left;
    width: 452px;
    height: 120px;
    color: #ffff;

}

.Portfolio-intro p {
    position: absolute;
    /* left: 100px; */
    width: 356px;
    height: 70px;
    font-size: 16px;
    line-height: 23px;
    color: #ffff;
    font-weight: 400;
    margin-left: 388px;

}

.Portfolio-btn button {
    background-color: #171802;
    color: #FFBE0D;
    width: 96px;
    height: 43px;
    padding: 11px 18px 11px 18px;
    border-radius: 30px;
    border: 1px solid #363804;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
}

.portfolio-cards .col-lg-4 {
    height: 398px;
    width: 398px;
    border-radius: 25px;
    position: relative;
    margin-left: 22px;
}

.portfolio-cards .col-lg-4 img {
    height: 398px;
    width: 398px;
    border-radius: 25px;
    padding: px;
}

.portfolio-cards-text {
    width: 314px;
    height: 84px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.94px;
    text-align: left;
    position: absolute;
    bottom: 40px;
    right: 39px;
    color: #FFFFFF;


}

/* width: Hug (171px)px;
height: Hug (44px)px;
gap: 0px;
opacity: 0px; */
.Portfolio-footer {
    display: flex;
    justify-content: center;
    margin-top: 54px;
}

.Portfolio-footer .btn {
    width: 171px;
    height: 44px;
    padding: 10px 21px 10px 21px;
    border-radius: 30px;
    background-color: #FFBE0D
}

.Benefits-section-start .btn {
    width: 94px;
    height: 43px;
    padding: 11px 18px 11px 18px;
    border-radius: 30px;
    border: 1px solid #363804;
    opacity: 0px;
    background-color: #171802;
    margin-bottom: 18px;
    color: #FFBE0D;

}

.Benefits-section-start h1 {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 200;
    line-height: 59.94px;
    text-align: center;
    color: #ffff;
    width: 652px;
    height: 120px;


}

.Benefits-cards-list {
    margin-top: 54px;
}

.Benefits-cards-list .col-lg-4 {
    /* width: 398.66px; */
    height: 341.75px;



}

.Benefits-cards-list .Benefits-image {
    /* width: 398.66px;
height: 238.19px; */

}

.Benefits-cards-list .Benefits-image img {
    width: 398.66px;
    height: 238.19px;
    border-radius: 25px;

}

.benefits-heading h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 22px;
    margin-left: 10px;

}

/* //styleName: subscription.handmade.company/Montserrat/Regular 16;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 23.2px;
text-align: left; */

.benefits-para {
    /* width: Fixed (398.66px)px;
height: Hug (47px)px;
top: 295.37px; */
    padding: 0px 10px 0px 10px;
    margin-top: 6px;
}

.benefits-para p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 200;
    line-height: 23.2px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 7px;

}

.service-text {
    margin-bottom: 53px;
}

.service-text h1 {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 200;
    line-height: 59.94px;
    text-align: center;
    color: #FFFFFF;
    width: 465px;
    height: 120px;

}

.service-text .btn {
    width: 94px;
    height: 43px;
    padding: 11px 18px 11px 18px;
    margin-bottom: 28px;
    border-radius: 30px;
    border: 1px solid #363804;
    background-color: #171802;
    color: #FFBE0D;
    text-align: center;

}

.service-name {
    /* width: 166px; */
    height: 46px;
    padding: 11px 22px 11px 22px;
    border-radius: 10px;
    border: 1px solid #313131;
    background-color: #141414;
    color: #ffff;
    margin-left: 18px;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;

}

.service-list-cards .row {
    /* width: 680px; */
}

.services-wrapper {}

.gradient-start,
.gradient-end {
    position: absolute;
    width: 200px;
    height: 100%;
    /* top: 0; */
    z-index: 1;
}

.gradient-start {
    left: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

}

.gradient-end {
    right: 0;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

}

.pricing-container {
    color: #ffff;

}

.pricing-container-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 199px;
}

.pricing-container .btn {
    width: 94px;
    height: 43px;
    padding: 11px 18px 11px 18px;
    margin-bottom: 28px;
    border-radius: 30px;
    border: 1px solid #363804;
    background-color: #171802;
    color: #FFBE0D;
    text-align: center;
    align-items: center;

}

.plan-name {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;
    color: #A6A6A6;
    margin-left: 30px;
}

.plan-price {
    margin-left: 30px;
}

.pricing-card {
    width: 398px;
    margin-left: 22px;
    height: 686.58px;
    border-radius: 25px;
    border: 1px solid #313131;
    background-color: #141414;
    padding-left: 36px;
    padding-top: 36px;


}

.pricing-cards-list .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-cards-list ul {
    list-style: none;
    margin-left: -10px;
    font-family: Montserrat;

}

.pricing-container-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
}

.pricing-container-heading h1 {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 200;
    line-height: 59.94px;
    text-align: center;
    width: 886px;
    height: 120px;
    text-align: center;

}

/* .pricing-cards-list .col-lg-3{
    width: 398px;
} */
.pricing-cards-list ul li {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;

}

.pricing-card .btn-col {

    margin-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 326.66px; */
    height: 58px;
    padding: 17px 111.1px 17px 111.09px;
    border-radius: 30px;
    background-color: #FFBE0D;
    border: 1px;
}

.btn-demo {
    margin-top: 16px;
    width: 329.66px;
    height: 60px;
    padding: 18px 109.21px 18px 109.2px;
    border-radius: 30px;
    border: 1px solid #313131;
    background-color: #141414;
    color: #ffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    /* line-height: 23.2px; */
}

.btn-demo p {
    /* width: 326.66px; */
    text-align: center;

}

.custom-width {
    width: 400px;
}

.project-based {
    background-color: #141414;
    width: 398.66px;
    height: 413.5px;
    padding: 36px 0px 0px 0px;
    border-radius: 25px;
    border: 1px solid #313131;

}


.project-based-para {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;
    margin-left: 35px;

}

.refer {
    background-color: #141414;

    margin-top: 22px;
    width: 398.66px;
    height: 242.16px;
    padding: 35.4px 36px 36.01px 36px;
    border-radius: 25px;
    border: 1px solid #313131;
    /* justify: space-between; */

}

.refer h1 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;
    width: 326.66px;
    height: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.refer p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;
    padding-bottom: 16px;
}

.faster {
    display: flex;
    position: absolute;
    top: 0px;
    right: 35px;
    width: 96.33px;
    height: 44px;
    padding: 10px 16px 10px 16px;
    border-radius: 0px 0px 12px 12px;
    opacity: 0px;
    background-color: ;
    background: #F3FF1124;

}

.faster p {
    color: #FFBE0D;

}


.faq-question {
    color: #ffff;
    display: flex;
    justify-content: space-between;
    width: 880px;
    height: 71px;
    padding: 20px 20px 20px 20px;
    border-radius: 17px;
    border: 1px solid #313131;
    background-color: #141414;
    margin-bottom: 12px;



}

.faq-header button {
    width: 94px;
    height: 43px;
    padding: 11px 18px 11px 18px;
    margin-bottom: 28px;
    border-radius: 30px;
    border: 1px solid #363804;
    background-color: #171802;
    color: #FFBE0D;
    display: flex;
    text-align: center;
    align-items: center;

}

.faq-header h1 {
    width: 458px;
    height: 120px;
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 200;
    line-height: 59.94px;
    text-align: center;
    color: #ffff;
    margin-bottom: 54px;

}

@media only screen and (max-width: 600px) {
    .faq-question {
        color: #ffff;
        display: flex;
        justify-content: space-between;
        width: 450px;
        height: 71px;
        padding: 20px 20px 20px 20px;
        border-radius: 17px;
        border: 1px solid #313131;
        background-color: #141414;
        margin-bottom: 12px;



    }

}

.review-card {
    color: #A6A6A6;
    background-color: #141414;
    /* width: 398.66px; */
    /* height: 480px; */
    padding: 25px 29px 31.19px 29px;
    gap: 0px;
    border-radius: 25px;
    border: 1px solid #313131;

}

.review-img {
    border-radius: 23.5px;
    border: 1px solid #313131;
    width: 47px;
    height: 47px;
    margin-right: 5px;
}

.review-img img {
    border-radius: 23.5px;

    margin-right: -10px;
    width: 100%;
    height: 100%;
}

.test-content-para {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;

}

.review-gradient {
    position: absolute;
    background: linear-gradient(0deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
    width: 1240px;
    height: 200px;
    bottom: 0;

}

.testimonial button {
    margin-top: 199px;
    width: 124px;
    height: 43px;
    padding: 11px 18px 11px 18px;
    margin-bottom: 28px;
    border-radius: 30px;
    border: 1px solid #363804;
    background-color: #171802;
    color: #FFBE0D;
    display: flex;
    text-align: center;
    align-items: center;


}

.Testimonials-heading {
    display: flex;
    height: 120.97px;
    justify-content: center;
    margin-bottom: 54px;

}

.Testimonials-heading h1 {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 200;
    line-height: 59.94px;
    justify-content: center;
    color: #FFFFFF;
    width: 672px;
    height: 120px;


}

.footer-container {
    /* width: Fixed (1,440px)px; */
    height: 492.82px;
    /* padding: 0px 100px 0px 100px; */

}

.footer-text h1 {
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 200;
    line-height: 77.7px;
    text-align: center;
    width: 653px;
    color: #ffff;
}

.footer-btn button {
    margin-top: 35px;
    width: 175px;
    height: 44px;
    padding: 10px 21px 10px 21px;
    border-radius: 30px;
    background-color: #FFBE0D;

}

.footer-image {
    position: relative;
    background-image: url(./Assests/footer-img.png);
    z-index: 2;
    height: 342px;
    width: 100%;
}

.footer-contents {
    color: #A6A6A6;
    width: 100vw;
    margin-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    bottom: 0px;

}